<form action='/efetuarlogin' method="POST">
    <p>Login:</p>
    <input type="text" name="login">
    <p>Senha:</p>
    <input type="password" name="senha"><br>
    <button type="submit">Faça a mágica!</button>
</form>