<div id="login">
<h1>Sistema de Login do Diogo</h1>
<form action='/efetuarlogin' method="POST">
    <p>Login:</p>
    <input type="text" name="login">
    <p>Senha:</p>
    <input type="password" name="senha">
    <br><br>
    <button type="submit">Entrar</button>
</form>

<p>Novo aqui? Crie sua conta</p>
<a href="/criarusuario">Criar conta</a>
</div>